a{
  color: $primary-color;
  text-decoration: none;
}
a:hover{
  color: $primary-color;
  text-decoration: underline;
}

.btn {

}

.btn-alat{
  
  background: $primary-color;
  color: $white;
  display: inline-block;
  border: none;
  cursor: pointer;
  font-size: em(14);
  // line-height: 50px;
  padding: 10px 30px;
  // min-width: 220px;
  border-radius: 3px;
  min-width: 220px;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);

  
}


.btn-alat:hover{
  color: $white;
  text-decoration: none;
}

.onboard-form {
  .btn-alat {
    margin-top: 20px;
  }
}

.btn-white {
  background: #fff !important;
  color: $primary-color;
  box-shadow: none;

  &:hover {
    color: $primary-color;
  }
}

.btn-sm {
  padding: 5px 20px;
  font-size: em(14);
  width: initial;
}

.border-btn {
  border: 1px solid $primary-color;
  background: none;
  color: $primary-color;
  padding: 9px 30px;

  &:hover {
    background: $primary-color;
    color: #fff;
  }
}

input[type="button"]:disabled, .disabled-btn {
  background: #DADADA;
  color: #9c9c9c;
  cursor: not-allowed;
  pointer-events: none;
}

.block-btn {
  width: 100%;
  display: block;
}

//toggle buttonn
.switch {
  position: relative;
	width: 8rem;
	height: 5rem;
	border-radius: 20%;
	transition: background-color 100ms ease-out;
	z-index: 1;
	&:before, &:after{
    content: "";
		position: absolute;
		top: 0;
		background-color: inherit;
		border-radius: 50%;
		width: 5rem;
		height: 5rem;
		z-index: 2;
  }
		
	&:before{
    left: -1rem
  }
	&:after {
    right: -1rem
  }
}
	
	
.toggle-button{
  position: absolute;
	width: 4.6rem;
	height: 4.6rem;
	border-radius: 50%;
	transition: transform 100ms ease-in-out;
	z-index: 3;
	border: 0.05rem solid #fff;
	top: 0.16rem;
}
	

.switch_is-off {
  background-color: #fff;
	border: 0.1rem solid #9c9c9c;
}
	

.switch_is-on{
  background-color: #d9534f
}
	

.toggle-button_position-left{
  transform: translateX(-0.8rem);
	background-color: #ccc;
}
	

.toggle-button_position-right{
  transform: translateX(4.0rem);
	background-color: #fff;
}
	