@import 'fonts';
@import 'mixins';
@import 'button';

.beneficiary-card {
    padding: 25px 20px;
    cursor: pointer;
  
    &:hover {
  
    }
  
    .network-img { 
      float: left;
      width: 20%;
    }
  
    .all-info {
      width: 80%;
      float: left;
      p {
        margin-bottom: 8px;
        span {
          float: right;
          font-family: $medium;
          color: $primary-color;
        }
      }
    }
  
    .nickname {
      color: #717171;
      span {
        float: right;
      }
    }
  
    .account-info {
      font-family: $medium;
      font-size: em(16);
      margin-bottom: 0 !important;
      .bank-name {
        float: right;
        color: #b1b1b1;
  
        a {
          display: inline-block;
          padding: 0 10px;
          color: #b1b1b1;
        }
      }
    }
  }