.eventTrays {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 40px;
  width: 100%;
  margin-top: 10px;
  justify-content: left;
}
.eventHeaderInfo{
  display: flex;
  justify-content: space-between
}


.eventTrays .eventCards {

    border-radius: 4px;
    outline-offset: 0px 4px;
    flex-basis: 16.66%;
    padding: 0 10px;
    margin-bottom: 50px;
}

.eventTrays #disc {
  color: #9C9C9C;
  font-size: 12px;
}
.eventTrays .picCard {
    width: 100%;
    height: 226px;
    border-radius: 4px;
    margin-bottom: 20px;
    background-position: center;
    background-size: cover;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

}

.eventTrays .boldHeader {
   color: #444444;
   font-size: 13px;
   margin-bottom: 2px;
   font-weight: 600
}

.eventCards .details .right p {
   color: #9C9C9C;
   font-size: 12px;
}


.eventCards .details {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}

.eventCards .details .left {
   padding-right: 5px;
}

.eventCards .bot .right p {
   margin-top: 0px !important;
   
}
.movie-duration{
  font-size: 12px;
  margin-top: 1.8px;


}

.eventPreferences {
   width: 100%;
   margin-top: 20px;
}

.eventPreferences .buttons {
     width: 197px;
     height: 45px;
     border-radius: 163px;
     padding-top: 11.5px;
     padding-bottom: 11.5px;
     margin-left: 10px;
     margin-right: 10px;
     color: #FFFFFF;
     font-size: 16px;
     background-color: #AB2656;
     border: none;
}

.eventPreferences .buttons:hover {
    color: white;
    font-size: 16px;
    border: 1px solid #AB2656;
    margin-bottom: 30px;
}


.eventPreferences .buttons1 {
     width: 197px;
     padding-top: 11.5px;
     padding-bottom: 11.5px;
     border-radius: 163px;
     background-color: transparent;
     color: #AB2656;
     font-size: 16px;
     border: 1px solid #AB2656;
     margin-bottom: 30px;
}

.puchaseSumTickets {
    display: flex;
    flex-wrap: nowrap;
    background-color: #5C3158;
    border-radius: 6px;
    border: 1px solid #EDEDED;
    padding-top: 20px;
    padding-left: 20px;
}

.puchaseSumTickets .left, .puchaseSumTickets .right {
    width: 50%;
}

.puchaseSumTickets .right {
    text-align: right;
    padding-right: 20px;
    font-weight: bold !important;
    
}

.puchaseSumTickets p {
    color: white;
}

.puchaseSumTickets .left {
    padding-right: 20px;
}

.puchaseSumTickets .left:nth-child(1) {
  font-weight: bold;
}

.eventPreferences .buttons1:hover {
      color: #FFFFFF;
      font-size: 16px;
      background-color: #AB2656;
      border: none;
}


#navButToMovieSelect {
   background-color: white;
   color: #AB2656;
   border: 1px solid #AB2656;
}
.movieStyleL{
  padding-left: 10%;
  padding-right: 10%;
}
.pagination {
  margin-top: 25px;
}
.pagination span {
cursor: pointer;
color: black;
float: left;
padding: 8px 16px;
text-decoration: none;
transition: background-color .3s;
border: 1px solid #ddd;
}
.pagination span.active {
  background-color: #0099FF;
  color: white;
  border: 1px solid #0099FF;
}
@media screen and (max-width: 1024px){
  .eventTrays .eventCards{
    flex-basis: 25%;
  }
}
@media screen and (max-width: 768px){
  .eventTrays .eventCards{
    flex-basis: 33.33%;
  }
}
@media screen and (max-width: 425px){
  .eventTrays .eventCards{
    flex-basis: 50%;
  }
}

@media screen and (max-width: 375px){
  .eventTrays .eventCards{
    flex-basis: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
  }
}

.video{
  position:relative ;
  padding-bottom:30.25%;
  padding-top:25px;
  height:0;
  margin-left:22%;
}
.iframe{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 640px;
  height: 360px;
}
.buy-movies{
  margin-top:18px;
  text-align:center;
  font-size:18px;
  margin-bottom:16px;
  color:#4D4D4D
}
.img{
  width:168px;
  height:226px;
  border-radius:3px

}
.title{
  font-size:12px;
  color:#9C9C9C;
  margin-top:21px
}
.description{
    font-size:12px;
    color: #9C9C9C;
    margin-top:8px,

}
.clockImage{
    width: 20px;
    height: 20px;
    margin-top: 5px;
    border-radius: 50px;
    padding-right: 9px
}
.duration{
    font-size: 12px;
    color:#9C9C9C

}
.decreaseAdult{
  
    width: 60px;
    height: 46px;
    cursor:pointer;
    background-color: #F5F5F5;
    color: #AB2656;
    font-weight:bold;
    text-align:center;
    font-size: 30px


}
.adultNumber{
    width: 60px;
    height: 46px;
    background-color: white;
    color: #AB2656;
    font-weight: bold;
    text-align: center;
    padding-top: 14px


}
.increaseAdult{
    width:60px;
    height:46px;
    cursor:pointer;
    background-color:#F5F5F5;
    color:#AB2656;
    font-weight:bold;
    text-align:center;
    padding-top:8px;
    font-size:20px

}
.decreaseStudent{
    cursor:pointer;
    width:60px;
    height: 46px;
    background-color:#F5F5F5;
    color:#AB2656;
    font-weight:bold;
    text-align:center;
    font-size: 30px

}
.studentNumber{
    width:60px;
    height:46px;
    background-color: white;
    color:#AB2656;
    font-weight:bold;
    text-align:center;
    padding-top: 14px


}
.increaseStudent{
    width:60px;
    height:46px;
    cursor:pointer;
    background-color:#F5F5F5;
    color: #AB2656;
    font-weight:bold;
    text-align:center;
    padding-top: 8px;
    font-size: 20px;

}
.studentAmount{
    text-align:center;
    margin-top: 10px;
    color:#000000;
    font-weight:bold;
    font-size: 14px

}
.decreaseChild{
    width: 60px;
    height: 46px;
    cursor:pointer;
    background-color:#F5F5F5;
    color:#AB2656;
    font-weight:bold;
    text-align:center;
    font-size: 30px

}
.childNumber{

    width: 60px;
    height: 46px;
    background-color:white;
    color:#AB2656;
    font-weight:bold;
    text-align:center;
    padding-top: 14px

}
.increaseChild{
    width: 60px;
    height: 46px;
    cursor:pointer;
    background-color:#F5F5F5;
    color:#AB2656;
    font-weight:bold;
    text-align:center;
    padding-top: 8px;
    font-size: 20px;

}
.next-btn{
    border:0px solid #AB2656;
    height: 45px;
    width: 200px;
    background-color:#AB2656;
    color:white;
    border-radius: 3px;
    cursor:pointer

}
@media screen and (max-width: 1023px){
  .header-info, .form-row, .form-group{
      padding: 0 25px;
  }
  .form-row{
      margin: 0;
  }
}

.row .count-border{
  border: 1px solid #CCCCCC;
  border-radius: 3px;
  flex-direction: row;
  justify-content: space-between

}
.row .btn-corner{
  justify-content:center;
  margin-top: 23px;
  margin-bottom: 39px
}
.child-text{
   margin-left: -13px
}
.col-sm-4 .innerCover{
  padding-right: 30px
}
.row .selectionCover{
  margin-top:23px;
  margin-left:0;
  justify-content:space-between
}

 #showTicket{
  margin-right: 69px;
  margin-left: 69px;
  margin-top: 37px;

}
#tickettext{
  font-size: 26px;
  color: #444444;
  padding-left: 55px

}
.ticket-title{
   margin-bottom: 21px
}

#goto{
  margin-left: 50px;
  margin-top: 20p;
  margin-right: 50px

}
#padding-left{
  padding-left: 30px;
}
.locationText{
  font-size: 12px;
  color: #9C9C9C
}
#title{
  font-size: 26px;
  color:#444444;
  padding-left: 55px
}
#originalImage{
  justify-content:center;
  margin-bottom:15px
}
.qty{
  font-size:12px;
}
#image{
   justify-content:center;
   margin-bottom:15px
}
#eventticket{
  margin-left: 50px;
  margin-top: 20px;
  margin-right: 50px;
}
#select-day{
  margin-top: 16px
}
#col{
  margin-top: 23px;
}
.pad{
  margin-top: 10px;
  
}
.event-border{
  border: 1px solid rgba(205, 205, 205, 0.32)
}
.margin-bottom{
  margin-bottom: 21px;
}
.ShowBuyTicketData{
  width:100%
}
#movie-tab{
  margin-bottom: 10px
}
.inputList{
  float:right;
  margin-top:-31;
  width:181px
}
.inputLabel{
  margin-bottom:0;
  color:#666666;
  font-size:14px

}
.SearchInput{
  width:100%;
  height:40px;
  margin-top:4px;
  float:right;
  


}
.ResultInput{
  width:100%;
  height:42px;
  margin-top:8px;
  margin:4px;
  float:right;
  

}
.listInput{
  float:right;
  margin-top:-31
}
.eventWrapper{
  position:absolute;
  top:40px;
  right:15px;
}
 .eventWrap{
  position: relative;

}
.travel-card{
  width: 150px;
  height: 150px;
  background-color:white;
  border-radius: 3px;
  margin: 8px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.0945143);
}
.travel-image{
  width: 150px;
  height: 150px;
  padding: 50px;
}
.travel-label{
  display: flex;
}
.travel-description{
  text-align: center;
  width: 100%;
}

.loadMore{
  color:#43063C;
  font-size:16px;
  position:relative;
  cursor:pointer;
  margin-left: 50%;
  top:0
}

.visa_wrapper{
  width: 150px;
  height: 150px;
  background-color:white;
  border-radius: 3px;
  margin: 8px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.0945143);

}
.visa-payment-content{
  display: flex;
}

.pl-amount-balance{
  float: right;
  font-size: 16px;
  margin-bottom: 0;
  font-family: "proxima_novasemibold",sans-serif;
}
.pl-amount-balance{
  color:#fff
}
.pl-amount-balance span {
  display: block;
  margin-top: 5px;
  font-size: 13px;
  font-family: "proxima_novaregular", sans-serif;
}
.pl-amount-balance span{
  color: #D6D6D6;
  font-size: 14px;
}
.visa-title{
    color: #B93E6B;
    font-size:19px;
}
