.eventTrays {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 40px;
    width: 100%;
    margin-top: 10px;
    justify-content: center;
  }

  .eventTrays .eventCards {
      width: 168px;
      margin-right: 15px;
      margin-left: 10px;
      border-radius: 4px;
      outline-offset: 0px 4px;
      margin-bottom: 10px;
  }

  .eventTrays #disc {
    font-family:"proxima_novaregular" !important;
    color: #9C9C9C;
    font-size: 12px;
  }
  .eventTrays .picCard {
      width: 100%;
      background-color: black;
      height: 226px;
      border-radius: 4px;
      margin-bottom: 20px;
      background-position: center;
      background-size: cover;
  }

  .eventTrays .boldHeader {
     color: #444444;
     font-size: 16px;
     font-family:"proxima_novasemibold";
     margin-bottom: 2px;
  }

  .eventCards .details .right p {
     font-family:"proxima_novaregular" !important;
     color: #9C9C9C;
     font-size: 12px;
  }


  .eventCards .details {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
  }

  .eventCards .details .left {
     padding-right: 15px;
  }

  .eventCards .bot .right p {
     margin-top: 0px !important;
  }

  .eventPreferences {
     width: 100%;
     margin-top: 20px;
  }

  .eventPreferences .buttons {
       width: 197px;
       height: 45px;
       border-radius: 163px;
       padding-top: 11.5px;
       padding-bottom: 11.5px;
       margin-left: 10px;
       margin-right: 10px;
       color: #FFFFFF;
       font-size: 16px;
       font-family:"proxima_novasemibold";
       background-color: #AB2656;
       border: none;
  }

  .eventPreferences .buttons:hover {
      color: white;
      font-size: 16px;
      border: 1px solid #AB2656;
      font-family:"proxima_novasemibold";
      margin-bottom: 30px;
  }


  .eventPreferences .buttons1 {
       width: 197px;
       padding-top: 11.5px;
       padding-bottom: 11.5px;
       border-radius: 163px;
       background-color: transparent;
       color: #AB2656;
       font-size: 16px;
       border: 1px solid #AB2656;
       font-family:"proxima_novasemibold";
       margin-bottom: 30px;
  }

  .eventPreferences .buttons1:hover {
        color: #FFFFFF;
        font-size: 16px;
        font-family:"proxima_novasemibold";
        background-color: #AB2656;
        border: none;
  }
