.react-inputs-validation__error___2aXSp{
    font-size: 14px !important;
}
.react-inputs-validation__error___2aXSp input[type=text].react-inputs-validation__textbox__input___20hDL{
    border: 1px solid #FF0000 !important;
}
.react-inputs-validation__error___2aXSp input[type=password].react-inputs-validation__textbox__input___20hDL{
    border: 1px solid #FF0000 !important;
}
.react-inputs-validation__error___2aXSp input[type=email].react-inputs-validation__textbox__input___20hDL{
    border: 1px solid #FF0000 !important;
}
.react-inputs-validation__error___2aXSp textarea.react-inputs-validation__textbox__input___20hDL{
    border: 1px solid #FF0000 !important;
}