/************ TABLE OF CONTENTS FOR COMPONENTS ***************
0. Fonts and Imports
1. Onboarding
2. Dashboard
3. Account Maintenance
4. Payments
5. Savings and Goals
6. Transfers
7. Cards
8. Security
...............To be separated into different components later.........
**********************************************/
@import "./sass/variables.scss";
@import "./font.css";

.onboarding{
  h1, h2, h3, h4{
    font-weight: bold; color: $grey-text1;
  }
  width: 100%;
  display: table;
  position: absolute;
  height: 100vh;
  //background-size: 200px;
  background-image:
    url(../img/ellipse-1.png),
    url(../img/ellipse-2.png),
    url(../img/ellipse-3.png),
    url(../img/ellipse-4.png);
  background-position:
    top left,
    bottom left,
    bottom right,
    top right;
  background-repeat: no-repeat;
  .middle {
    display: table-cell;
    vertical-align: middle;
  }
  .inner{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    h4{
      margin-top: 55px;
      line-height: 28px;
    }
    h4:after{
        content: "";
        position: absolute;
        width: 40px;
        height: 3px;
        background: $primary-color;
        left: 16px;
        bottom: 0px;
    }
  }
  form{
    margin-top: 40px;
    p{
      line-height: 50px;
    }
  }
  label{
    font-weight: 400;
    line-height: 17px;
    color: $grey-secondary;
  }
  input[type=text], input[type=password]{
    display: block;
    border: 1px solid #C4C4D0;
    border-radius: 3px;
    width: 100%;
    height: 50px;
    padding: 15px;
    color: $grey-text1;
    -webkit-transition: border-color ease-in-out .30s, -webkit-box-shadow ease-in-out .30s;
    -o-transition: border-color ease-in-out .30s, box-shadow ease-in-out .30s;
    transition: border-color ease-in-out .30s, box-shadow ease-in-out .30s;
  }
  input[type=text]:focus, input[type=password]:focus{
    border: 1px solid $black;
  }
}