@font-face {
  font-family: 'proxima_novalight';
  src: url("../fonts/proximanova/proximanova-light.eot");
  src: url("../fonts/proximanova/proximanova-light.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova/proximanova-light.woff") format("woff"), url("../fonts/proximanova/proximanova-light.ttf") format("truetype"), url("../fonts/proximanova/proximanova-light.svg#proxima_novalight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'proxima_novaregular';
  src: url("../fonts/proximanova/proximanova-regular.eot");
  src: url("../fonts/proximanova/proximanova-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova/proximanova-regular.woff") format("woff"), url("../fonts/proximanova/proximanova-regular.ttf") format("truetype"), url("../fonts/proximanova/proximanova-regular.svg#proxima_nova_rgregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'proxima_novasemibold';
  src: url("../fonts/proximanova/proximanova-semibold.eot");
  src: url("../fonts/proximanova/proximanova-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova/proximanova-semibold.woff") format("woff"), url("../fonts/proximanova/proximanova-semibold.ttf") format("truetype"), url("../fonts/proximanova/proximanova-semibold.svg#proxima_novasemibold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'proxima_novabold';
  src: url("../fonts/proximanova/proximanova-bold.eot");
  src: url("../fonts/proximanova/proximanova-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova/proximanova-bold.woff") format("woff"), url("../fonts/proximanova/proximanova-bold.ttf") format("truetype"), url("../fonts/proximanova/proximanova-bold.svg#proxima_nova_rgbold") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: "proxima_novaregular", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #444; }

h1, h2, h3, h4, h5 {
  font-family: "proxima_novasemibold", sans-serif;
  margin: 0;
  color: #444; }

h1 {
  font-size: 3.42857em; }

h2 {
  font-size: 2.57143em; }

h3 {
  font-size: 1.71429em; }

h4 {
  font-size: 1.28571em; }

h5 {
  font-size: 1em; }

@media screen and (max-width: 480px) {
  h4 {
    font-size: 1.14286em; }
  h3 {
    font-size: 1.28571em; } }

.demo-icon {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  /* font-size: 120%; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.f-s-16 {
  font-size: 1.14286em; }

.bold-text {
  font-family: "proxima_novasemibold", sans-serif; }

@media (min-width: 992px) {
  .container {
    max-width: 1140px; } }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style: none; }

a {
  text-decoration: none; }

.red-text {
  color: #AB2656; }

.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0; }

.input-ctn {
  margin-bottom: 25px; }
  .input-ctn label {
    font-size: 1em;
    margin-bottom: 5px;
    color: #666; }

.info-text {
  font-size: 0.85714em;
  color: #5C3158;
  font-family: "proxima_novasemibold", sans-serif;
  text-align: center; }

.center-text {
  text-align: center; }

[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], select, textarea {
  /* Rectangle 7: */
  border: 1px solid #C4C4D0;
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
  display: block;
  width: 100%;
  color: #444;
  padding: 10px 15px;
  height: initial;
  font-size: 1em;
  -webkit-transition: border-color ease-in-out .30s, -webkit-box-shadow ease-in-out .30s;
  -o-transition: border-color ease-in-out .30s, box-shadow ease-in-out .30s;
  transition: border-color ease-in-out .30s, -webkit-box-shadow ease-in-out .30s;
  transition: border-color ease-in-out .30s, box-shadow ease-in-out .30s;
  transition: border-color ease-in-out .30s, box-shadow ease-in-out .30s, -webkit-box-shadow ease-in-out .30s; }
  [type='text']:focus, [type='password']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='week']:focus, [type='email']:focus, [type='number']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='url']:focus, [type='color']:focus, select:focus, textarea:focus {
    border: 1px solid #2B303A;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none; }
  [type='text'].error, [type='password'].error, [type='date'].error, [type='datetime'].error, [type='datetime-local'].error, [type='month'].error, [type='week'].error, [type='email'].error, [type='number'].error, [type='search'].error, [type='tel'].error, [type='time'].error, [type='url'].error, [type='color'].error, select.error, textarea.error {
    border: 1px solid #FF0000; }

input:disabled {
  background-color: #fbfbfb;
  color: #222; }

.form-error input {
  border: 1px solid #AB2656; }

.form-error label {
  color: #AB2656; }

.form-error span.error {
  display: block;
  color: #AB2656;
  font-size: 1em;
  margin-top: 10px; }

select {
  height: 45px;
  background: #FFFFFF; }

.datepicker--day-name {
  color: #75557E !important; }

.info-label {
  border: 1px solid #ccc;
  padding: 8px 15px;
  font-size: 1em;
  border-radius: 3px;
  color: #444;
  margin-bottom: 30px; }
  .info-label.error {
    color: rgba(137, 2, 18, 0.91);
    background: rgba(255, 138, 152, 0.4);
    border: 1px solid rgba(255, 50, 75, 0.4); }
  .info-label.success {
    color: #00311C;
    background: #BCFBE0;
    border: 1px solid #54d19b; }

.bold-text {
  font-family: "proxima_novasemibold", sans-serif; }

.selectize-control.single .selectize-input {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: none;
  background-image: none;
  background-repeat: none; }

.selectize-input {
  padding: 12px 15px 11px;
  border: 1px solid #C4C4D0;
  border-color: #C4C4D0 !important; }

.selectize-dropdown .option, .selectize-dropdown .optgroup-header {
  padding: 15px 15px;
  font-size: 14px; }

.selectize-dropdown {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #C4C4D0;
  border-top: none; }

.al-card {
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
  padding: 30px 30px;
  background: #fff;
  border-radius: 4px;
  margin-bottom: 20px; }

.no-pad {
  padding: 0; }

.m-t-10 {
  margin-top: 10px !important; }

.m-t-20 {
  margin-top: 20px !important; }

.m-t-25 {
  margin-top: 25px !important; }

.m-t-30 {
  margin-top: 30px !important; }

.m-t-40 {
  margin-top: 40px !important; }

.m-t-50 {
  margin-top: 50px !important; }

.m-b-10 {
  margin-bottom: 10px !important; }

.m-b-20 {
  margin-bottom: 20px !important; }

.m-b-30 {
  margin-bottom: 30px !important; }

.m-b-40 {
  margin-bottom: 40px !important; }

.progress-circle {
  font-size: 20px;
  margin: 20px auto;
  position: relative;
  /* so that children can be absolutely positioned */
  padding: 0;
  width: 6em;
  height: 6em;
  background-color: #E2E2E2;
  border-radius: 50%;
  line-height: 6em; }

.progress-circle:after {
  border: none;
  position: absolute;
  top: 0.35em;
  left: 0.35em;
  text-align: center;
  display: block;
  border-radius: 50%;
  width: 5.3em;
  height: 5.3em;
  background-color: white;
  content: " "; }

/* Text inside the control */
.progress-circle span {
  position: absolute;
  line-height: 6em;
  width: 6em;
  text-align: center;
  display: block;
  color: #9D0F3E;
  z-index: 2; }

.left-half-clipper {
  /* a round circle */
  border-radius: 50%;
  width: 6em;
  height: 6em;
  position: absolute;
  /* needed for clipping */
  clip: rect(0, 6em, 6em, 2.5em);
  /* clips the whole left half*/ }

/* when p>50, don't clip left half*/
.progress-circle.over50 .left-half-clipper {
  clip: rect(auto, auto, auto, auto); }

.value-bar {
  /*This is an overlayed square, that is made round with the border radius,
   then it is cut to display only the left half, then rotated clockwise
   to escape the outer clipping path.*/
  position: absolute;
  /*needed for clipping*/
  clip: rect(0, 2.5em, 6em, 0);
  width: 6em;
  height: 6em;
  border-radius: 50%;
  border: 0.45em solid #9D0F3E;
  /*The border is 0.35 but making it larger removes visual artifacts */
  /*background-color: #4D642D;*/
  /* for debug */
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* Progress bar filling the whole right half for values above 50% */
.progress-circle.over50 .first50-bar {
  /*Progress bar for the first 50%, filling the whole right half*/
  position: absolute;
  /*needed for clipping*/
  clip: rect(0, 5em, 5em, 2.5em);
  background-color: #53777A;
  border-radius: 50%;
  width: 5em;
  height: 5em; }

.progress-circle:not(.over50) .first50-bar {
  display: none; }

/* Progress bar rotation position */
.progress-circle.p0 .value-bar {
  display: none; }

.progress-circle.p1 .value-bar {
  -webkit-transform: rotate(4deg);
  -ms-transform: rotate(4deg);
  transform: rotate(4deg); }

.progress-circle.p2 .value-bar {
  -webkit-transform: rotate(7deg);
  -ms-transform: rotate(7deg);
  transform: rotate(7deg); }

.progress-circle.p3 .value-bar {
  -webkit-transform: rotate(11deg);
  -ms-transform: rotate(11deg);
  transform: rotate(11deg); }

.progress-circle.p4 .value-bar {
  -webkit-transform: rotate(14deg);
  -ms-transform: rotate(14deg);
  transform: rotate(14deg); }

.progress-circle.p5 .value-bar {
  -webkit-transform: rotate(18deg);
  -ms-transform: rotate(18deg);
  transform: rotate(18deg); }

.progress-circle.p6 .value-bar {
  -webkit-transform: rotate(22deg);
  -ms-transform: rotate(22deg);
  transform: rotate(22deg); }

.progress-circle.p7 .value-bar {
  -webkit-transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  transform: rotate(25deg); }

.progress-circle.p8 .value-bar {
  -webkit-transform: rotate(29deg);
  -ms-transform: rotate(29deg);
  transform: rotate(29deg); }

.progress-circle.p9 .value-bar {
  -webkit-transform: rotate(32deg);
  -ms-transform: rotate(32deg);
  transform: rotate(32deg); }

.progress-circle.p10 .value-bar {
  -webkit-transform: rotate(36deg);
  -ms-transform: rotate(36deg);
  transform: rotate(36deg); }

.progress-circle.p11 .value-bar {
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg); }

.progress-circle.p12 .value-bar {
  -webkit-transform: rotate(43deg);
  -ms-transform: rotate(43deg);
  transform: rotate(43deg); }

.progress-circle.p13 .value-bar {
  -webkit-transform: rotate(47deg);
  -ms-transform: rotate(47deg);
  transform: rotate(47deg); }

.progress-circle.p14 .value-bar {
  -webkit-transform: rotate(50deg);
  -ms-transform: rotate(50deg);
  transform: rotate(50deg); }

.progress-circle.p15 .value-bar {
  -webkit-transform: rotate(54deg);
  -ms-transform: rotate(54deg);
  transform: rotate(54deg); }

.progress-circle.p16 .value-bar {
  -webkit-transform: rotate(58deg);
  -ms-transform: rotate(58deg);
  transform: rotate(58deg); }

.progress-circle.p17 .value-bar {
  -webkit-transform: rotate(61deg);
  -ms-transform: rotate(61deg);
  transform: rotate(61deg); }

.progress-circle.p18 .value-bar {
  -webkit-transform: rotate(65deg);
  -ms-transform: rotate(65deg);
  transform: rotate(65deg); }

.progress-circle.p19 .value-bar {
  -webkit-transform: rotate(68deg);
  -ms-transform: rotate(68deg);
  transform: rotate(68deg); }

.progress-circle.p20 .value-bar {
  -webkit-transform: rotate(72deg);
  -ms-transform: rotate(72deg);
  transform: rotate(72deg); }

.progress-circle.p21 .value-bar {
  -webkit-transform: rotate(76deg);
  -ms-transform: rotate(76deg);
  transform: rotate(76deg); }

.progress-circle.p22 .value-bar {
  -webkit-transform: rotate(79deg);
  -ms-transform: rotate(79deg);
  transform: rotate(79deg); }

.progress-circle.p23 .value-bar {
  -webkit-transform: rotate(83deg);
  -ms-transform: rotate(83deg);
  transform: rotate(83deg); }

.progress-circle.p24 .value-bar {
  -webkit-transform: rotate(86deg);
  -ms-transform: rotate(86deg);
  transform: rotate(86deg); }

.progress-circle.p25 .value-bar {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.progress-circle.p26 .value-bar {
  -webkit-transform: rotate(94deg);
  -ms-transform: rotate(94deg);
  transform: rotate(94deg); }

.progress-circle.p27 .value-bar {
  -webkit-transform: rotate(97deg);
  -ms-transform: rotate(97deg);
  transform: rotate(97deg); }

.progress-circle.p28 .value-bar {
  -webkit-transform: rotate(101deg);
  -ms-transform: rotate(101deg);
  transform: rotate(101deg); }

.progress-circle.p29 .value-bar {
  -webkit-transform: rotate(104deg);
  -ms-transform: rotate(104deg);
  transform: rotate(104deg); }

.progress-circle.p30 .value-bar {
  -webkit-transform: rotate(108deg);
  -ms-transform: rotate(108deg);
  transform: rotate(108deg); }

.progress-circle.p31 .value-bar {
  -webkit-transform: rotate(112deg);
  -ms-transform: rotate(112deg);
  transform: rotate(112deg); }

.progress-circle.p32 .value-bar {
  -webkit-transform: rotate(115deg);
  -ms-transform: rotate(115deg);
  transform: rotate(115deg); }

.progress-circle.p33 .value-bar {
  -webkit-transform: rotate(119deg);
  -ms-transform: rotate(119deg);
  transform: rotate(119deg); }

.progress-circle.p34 .value-bar {
  -webkit-transform: rotate(122deg);
  -ms-transform: rotate(122deg);
  transform: rotate(122deg); }

.progress-circle.p35 .value-bar {
  -webkit-transform: rotate(126deg);
  -ms-transform: rotate(126deg);
  transform: rotate(126deg); }

.progress-circle.p36 .value-bar {
  -webkit-transform: rotate(130deg);
  -ms-transform: rotate(130deg);
  transform: rotate(130deg); }

.progress-circle.p37 .value-bar {
  -webkit-transform: rotate(133deg);
  -ms-transform: rotate(133deg);
  transform: rotate(133deg); }

.progress-circle.p38 .value-bar {
  -webkit-transform: rotate(137deg);
  -ms-transform: rotate(137deg);
  transform: rotate(137deg); }

.progress-circle.p39 .value-bar {
  -webkit-transform: rotate(140deg);
  -ms-transform: rotate(140deg);
  transform: rotate(140deg); }

.progress-circle.p40 .value-bar {
  -webkit-transform: rotate(144deg);
  -ms-transform: rotate(144deg);
  transform: rotate(144deg); }

.progress-circle.p41 .value-bar {
  -webkit-transform: rotate(148deg);
  -ms-transform: rotate(148deg);
  transform: rotate(148deg); }

.progress-circle.p42 .value-bar {
  -webkit-transform: rotate(151deg);
  -ms-transform: rotate(151deg);
  transform: rotate(151deg); }

.progress-circle.p43 .value-bar {
  -webkit-transform: rotate(155deg);
  -ms-transform: rotate(155deg);
  transform: rotate(155deg); }

.progress-circle.p44 .value-bar {
  -webkit-transform: rotate(158deg);
  -ms-transform: rotate(158deg);
  transform: rotate(158deg); }

.progress-circle.p45 .value-bar {
  -webkit-transform: rotate(162deg);
  -ms-transform: rotate(162deg);
  transform: rotate(162deg); }

.progress-circle.p46 .value-bar {
  -webkit-transform: rotate(166deg);
  -ms-transform: rotate(166deg);
  transform: rotate(166deg); }

.progress-circle.p47 .value-bar {
  -webkit-transform: rotate(169deg);
  -ms-transform: rotate(169deg);
  transform: rotate(169deg); }

.progress-circle.p48 .value-bar {
  -webkit-transform: rotate(173deg);
  -ms-transform: rotate(173deg);
  transform: rotate(173deg); }

.progress-circle.p49 .value-bar {
  -webkit-transform: rotate(176deg);
  -ms-transform: rotate(176deg);
  transform: rotate(176deg); }

.progress-circle.p50 .value-bar {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.progress-circle.p51 .value-bar {
  -webkit-transform: rotate(184deg);
  -ms-transform: rotate(184deg);
  transform: rotate(184deg); }

.progress-circle.p52 .value-bar {
  -webkit-transform: rotate(187deg);
  -ms-transform: rotate(187deg);
  transform: rotate(187deg); }

.progress-circle.p53 .value-bar {
  -webkit-transform: rotate(191deg);
  -ms-transform: rotate(191deg);
  transform: rotate(191deg); }

.progress-circle.p54 .value-bar {
  -webkit-transform: rotate(194deg);
  -ms-transform: rotate(194deg);
  transform: rotate(194deg); }

.progress-circle.p55 .value-bar {
  -webkit-transform: rotate(198deg);
  -ms-transform: rotate(198deg);
  transform: rotate(198deg); }

.progress-circle.p56 .value-bar {
  -webkit-transform: rotate(202deg);
  -ms-transform: rotate(202deg);
  transform: rotate(202deg); }

.progress-circle.p57 .value-bar {
  -webkit-transform: rotate(205deg);
  -ms-transform: rotate(205deg);
  transform: rotate(205deg); }

.progress-circle.p58 .value-bar {
  -webkit-transform: rotate(209deg);
  -ms-transform: rotate(209deg);
  transform: rotate(209deg); }

.progress-circle.p59 .value-bar {
  -webkit-transform: rotate(212deg);
  -ms-transform: rotate(212deg);
  transform: rotate(212deg); }

.progress-circle.p60 .value-bar {
  -webkit-transform: rotate(216deg);
  -ms-transform: rotate(216deg);
  transform: rotate(216deg); }

.progress-circle.p61 .value-bar {
  -webkit-transform: rotate(220deg);
  -ms-transform: rotate(220deg);
  transform: rotate(220deg); }

.progress-circle.p62 .value-bar {
  -webkit-transform: rotate(223deg);
  -ms-transform: rotate(223deg);
  transform: rotate(223deg); }

.progress-circle.p63 .value-bar {
  -webkit-transform: rotate(227deg);
  -ms-transform: rotate(227deg);
  transform: rotate(227deg); }

.progress-circle.p64 .value-bar {
  -webkit-transform: rotate(230deg);
  -ms-transform: rotate(230deg);
  transform: rotate(230deg); }

.progress-circle.p65 .value-bar {
  -webkit-transform: rotate(234deg);
  -ms-transform: rotate(234deg);
  transform: rotate(234deg); }

.progress-circle.p66 .value-bar {
  -webkit-transform: rotate(238deg);
  -ms-transform: rotate(238deg);
  transform: rotate(238deg); }

.progress-circle.p67 .value-bar {
  -webkit-transform: rotate(241deg);
  -ms-transform: rotate(241deg);
  transform: rotate(241deg); }

.progress-circle.p68 .value-bar {
  -webkit-transform: rotate(245deg);
  -ms-transform: rotate(245deg);
  transform: rotate(245deg); }

.progress-circle.p69 .value-bar {
  -webkit-transform: rotate(248deg);
  -ms-transform: rotate(248deg);
  transform: rotate(248deg); }

.progress-circle.p70 .value-bar {
  -webkit-transform: rotate(252deg);
  -ms-transform: rotate(252deg);
  transform: rotate(252deg); }

.progress-circle.p71 .value-bar {
  -webkit-transform: rotate(256deg);
  -ms-transform: rotate(256deg);
  transform: rotate(256deg); }

.progress-circle.p72 .value-bar {
  -webkit-transform: rotate(259deg);
  -ms-transform: rotate(259deg);
  transform: rotate(259deg); }

.progress-circle.p73 .value-bar {
  -webkit-transform: rotate(263deg);
  -ms-transform: rotate(263deg);
  transform: rotate(263deg); }

.progress-circle.p74 .value-bar {
  -webkit-transform: rotate(266deg);
  -ms-transform: rotate(266deg);
  transform: rotate(266deg); }

.progress-circle.p75 .value-bar {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg); }

.progress-circle.p76 .value-bar {
  -webkit-transform: rotate(274deg);
  -ms-transform: rotate(274deg);
  transform: rotate(274deg); }

.progress-circle.p77 .value-bar {
  -webkit-transform: rotate(277deg);
  -ms-transform: rotate(277deg);
  transform: rotate(277deg); }

.progress-circle.p78 .value-bar {
  -webkit-transform: rotate(281deg);
  -ms-transform: rotate(281deg);
  transform: rotate(281deg); }

.progress-circle.p79 .value-bar {
  -webkit-transform: rotate(284deg);
  -ms-transform: rotate(284deg);
  transform: rotate(284deg); }

.progress-circle.p80 .value-bar {
  -webkit-transform: rotate(288deg);
  -ms-transform: rotate(288deg);
  transform: rotate(288deg); }

.progress-circle.p81 .value-bar {
  -webkit-transform: rotate(292deg);
  -ms-transform: rotate(292deg);
  transform: rotate(292deg); }

.progress-circle.p82 .value-bar {
  -webkit-transform: rotate(295deg);
  -ms-transform: rotate(295deg);
  transform: rotate(295deg); }

.progress-circle.p83 .value-bar {
  -webkit-transform: rotate(299deg);
  -ms-transform: rotate(299deg);
  transform: rotate(299deg); }

.progress-circle.p84 .value-bar {
  -webkit-transform: rotate(302deg);
  -ms-transform: rotate(302deg);
  transform: rotate(302deg); }

.progress-circle.p85 .value-bar {
  -webkit-transform: rotate(306deg);
  -ms-transform: rotate(306deg);
  transform: rotate(306deg); }

.progress-circle.p86 .value-bar {
  -webkit-transform: rotate(310deg);
  -ms-transform: rotate(310deg);
  transform: rotate(310deg); }

.progress-circle.p87 .value-bar {
  -webkit-transform: rotate(313deg);
  -ms-transform: rotate(313deg);
  transform: rotate(313deg); }

.progress-circle.p88 .value-bar {
  -webkit-transform: rotate(317deg);
  -ms-transform: rotate(317deg);
  transform: rotate(317deg); }

.progress-circle.p89 .value-bar {
  -webkit-transform: rotate(320deg);
  -ms-transform: rotate(320deg);
  transform: rotate(320deg); }

.progress-circle.p90 .value-bar {
  -webkit-transform: rotate(324deg);
  -ms-transform: rotate(324deg);
  transform: rotate(324deg); }

.progress-circle.p91 .value-bar {
  -webkit-transform: rotate(328deg);
  -ms-transform: rotate(328deg);
  transform: rotate(328deg); }

.progress-circle.p92 .value-bar {
  -webkit-transform: rotate(331deg);
  -ms-transform: rotate(331deg);
  transform: rotate(331deg); }

.progress-circle.p93 .value-bar {
  -webkit-transform: rotate(335deg);
  -ms-transform: rotate(335deg);
  transform: rotate(335deg); }

.progress-circle.p94 .value-bar {
  -webkit-transform: rotate(338deg);
  -ms-transform: rotate(338deg);
  transform: rotate(338deg); }

.progress-circle.p95 .value-bar {
  -webkit-transform: rotate(342deg);
  -ms-transform: rotate(342deg);
  transform: rotate(342deg); }

.progress-circle.p96 .value-bar {
  -webkit-transform: rotate(346deg);
  -ms-transform: rotate(346deg);
  transform: rotate(346deg); }

.progress-circle.p97 .value-bar {
  -webkit-transform: rotate(349deg);
  -ms-transform: rotate(349deg);
  transform: rotate(349deg); }

.progress-circle.p98 .value-bar {
  -webkit-transform: rotate(353deg);
  -ms-transform: rotate(353deg);
  transform: rotate(353deg); }

.progress-circle.p99 .value-bar {
  -webkit-transform: rotate(356deg);
  -ms-transform: rotate(356deg);
  transform: rotate(356deg); }

.progress-circle.p100 .value-bar {
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg); }

#nav-icon1 {
  width: 25px;
  height: 20px;
  float: left;
  margin-right: 20px;
  display: none;
  margin-right: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  right: 0;
  margin-right: 15px;
  z-index: 9999;
  margin-top: 17px; }

.blue-bg#nav-icon1 span {
  background: #fff; }

#nav-icon1.blue-span span {
  background: #fff; }

#nav-icon1 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #fff;
  border-radius: 15px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

#nav-icon1 span:nth-child(1) {
  top: 0px; }

#nav-icon1 span:nth-child(2) {
  top: 8px; }

#nav-icon1 span:nth-child(3) {
  top: 16px; }

#nav-icon1.open span:nth-child(1) {
  top: 10px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg); }

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px; }

#nav-icon1.open span:nth-child(3) {
  top: 10px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg); }

a {
  color: #AB2656;
  text-decoration: none; }

a:hover {
  color: #AB2656;
  text-decoration: underline; }

.btn-alat {
  background: #AB2656;
  color: #FFFFFF;
  display: inline-block;
  border: none;
  cursor: pointer;
  font-size: 1em;
  padding: 10px 30px;
  border-radius: 3px;
  min-width: 220px;
  text-align: center;
  -webkit-box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
  box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25); }

.btn-alat:hover {
  color: #FFFFFF;
  text-decoration: none; }

.onboard-form .btn-alat {
  margin-top: 20px; }

.btn-white {
  background: #fff !important;
  color: #AB2656;
  -webkit-box-shadow: none;
  box-shadow: none; }
  .btn-white:hover {
    color: #AB2656; }

.btn-sm {
  padding: 5px 20px;
  font-size: 1em;
  width: initial; }

.border-btn {
  border: 1px solid #AB2656;
  background: none;
  color: #AB2656; }
  .border-btn:hover {
    background: #AB2656;
    color: #fff; }

input[type="button"]:disabled {
  background: #DADADA;
  color: #9c9c9c; }

.block-btn {
  width: 100%;
  display: block; }

html, body {
  height: 100%; }

body {
  font-family: "proxima_novaregular", sans-serif;
  color: #2B303A;
  background: #fff; }

.onboarding {
  width: 100%;
  display: table;
  position: absolute;
  height: 100vh;
  background-image: url(../img/ellipse-1.svg), url(../img/ellipse-2.svg), url(../img/ellipse-3.svg), url(../img/ellipse-4.svg);
  background-position: top left, bottom left, bottom right, top right;
  background-repeat: no-repeat; }
  .onboarding .middle {
    display: table-cell;
    vertical-align: middle; }
  .onboarding .email-text {
    color: #AB2656;
    font-weight: 600; }
  .onboarding .inner {
    width: 100%;
    max-width: 400px;
    margin: 100px auto;
    padding: 0 20px; }
    .onboarding .inner h3 {
      margin-top: 40px; }
      .onboarding .inner h3 span {
        display: block;
        background: #AB2656;
        width: 40px;
        height: 3px;
        margin-top: 10px;
        margin-bottom: 30px; }
  .onboarding p {
    color: #444444;
    margin-bottom: 0; }
  .onboarding .onboard-form {
    padding-top: 30px;
    margin-bottom: 50px; }
  .onboarding .bullet {
    font-size: 0.71429em;
    margin: 16px 2px; }
  .onboarding .bullet.active {
    color: #AE335F; }
  .onboarding .bullet.inactive {
    color: rgba(0, 0, 0, 0.35); }
  .onboarding .details-container {
    margin-top: 20px;
    border-radius: 3px;
    -webkit-box-shadow: 2px 1px 3px 3px rgba(0, 0, 0, 0.05);
    box-shadow: 2px 1px 3px 3px rgba(0, 0, 0, 0.05);
    padding: 30px;
    margin-bottom: 30px; }
    .onboarding .details-container .label {
      color: rgba(0, 0, 0, 0.6);
      font-size: 1em; }

.pw-hint {
  font-size: 0.85714em;
  margin-top: 10px; }

.pw-reset-sent h3 {
  margin-bottom: 20px; }

.pw-reset-sent p {
  line-height: 1.5; }

.upload-div {
  margin-bottom: 30px; }
  .upload-div p {
    text-align: center;
    margin-bottom: 10px; }

.dropify-wrapper {
  background-color: #F9F9F9;
  border-radius: 3px;
  border: 1.25px solid #E3E3E4;
  font-size: 0.85714em;
  font-family: "proxima_novaregular", sans-serif;
  line-height: 1.5; }
  .dropify-wrapper p {
    color: #8a8a8a;
    font-weight: "proxima_novaregular", sans-serif !important; }

@media screen and (max-width: 640px) {
  .onboarding {
    background-image: none; }
    .onboarding .inner {
      margin: 50px auto;
      background-image: none; } }
