a{
  color: $primary-color;
  text-decoration: none;
}
a:hover{
  color: $primary-color;
  text-decoration: underline;
}

.btn {

}

.btn-alat{
  
  background: $primary-color;
  color: $white;
  display: inline-block;
  border: none;
  cursor: pointer;
  font-size: em(14);
  // line-height: 50px;
  padding: 10px 30px;
  // min-width: 220px;
  border-radius: 3px;
  min-width: 220px;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
}

.btn-alat:hover{
  color: $white;
  text-decoration: none;
}

.onboard-form {
  .btn-alat {
    margin-top: 20px;
  }
}

.btn-white {
  background: #fff !important;
  color: $primary-color;
  box-shadow: none;

  &:hover {
    color: $primary-color;
  }
}

.btn-sm {
  padding: 5px 20px;
  font-size: em(14);
  width: initial;
}

.border-btn {
  border: 1px solid $primary-color;
  background: none;
  color: $primary-color;
  padding: 9px 30px;

  &:hover {
    background: $primary-color;
    color: #fff;
  }
}

input[type="button"]:disabled {
  background: #DADADA;
  color: #9c9c9c;
}

.block-btn {
  width: 100%;
  display: block;
}