/************ TABLE OF CONTENTS ***************
1. Fonts and Imports
2. Reset
3. Global
4. Header
...............
**********************************************/

@import "./sass/variables";
@import "./font.css";
@import "./font-awesome/font-awesome.css";

/***
====================================================================
	Reset
====================================================================
 ***/
* {
  margin:0px;
  padding:0px;
  border:none;
  outline:none;
}

body {
  font-family: $base-font-family;
  color: $black;
  font-weight: $light;
  background: #fcfcfc;
  @media screen and (max-width: 480px) {
    font-size: 12px;
  }
}

h1,h2,h3,h4,h5,h6 {
  font-family: $base-font-family;
}

h1 {font-size: $h1-fontsize;}
h2 {font-size: $h2-fontsize;}
h3 {font-size: $h3-fontsize;}
h4 {font-size: $h4-fontsize;}
h5 {font-size: $h5-fontsize;}
h6 {font-size: $h6-fontsize;}
a{
  color: $primary-color;
  text-decoration: none;
}
a:hover{
  color: $primary-color;
  text-decoration: underline;
}
.btn-alat{
  margin-top: 40px;
  background: $primary-color;
  color: $white;
  display: block;
  cursor: pointer;
  height: 55px;
  border-radius: 3px;
}