.agreement-text  {
    margin: 20px 0;
    li{
        text-align: left;
        margin-bottom: 10px;
        list-style: square;
        a{
            text-decoration: underline;
        }
    }
    
}
.providerslist, .productcategory-list {
    display: flex;
    justify-content: center;
}
.provider-logo{
    max-width: 100px;
    img{
        width: 100%;
    }
}
.each-provider, .eachproduct-category{
    background: #ffffff;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
    padding: 7px 8px;
    &:hover{
        cursor: pointer;
    }
    .eachproduct-category{
        background: #ffffff;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.12);
        padding: 7px 21px;
    }
}
.provider-name, .productcategory-name {
    font-size: 15px;
    font-weight: 600;
}