//== Base Colors
$primary-color: #9D0F3E;
$primary-color-light: #AE335F;
$secondary-color: #75557E;
$secondary-color-yellow: #E6941D;
$secondary-color-blue: #2F89FC;
$grey-primary: rgba(0, 0, 0, 0.8);
$grey-secondary: rgba(0, 0, 0, 0.6);
$grey-tertiary: rgba(0, 0, 0, 0.35);
$white: #FFFFFF;
$black: #000000;
$grey-text1: #444444;
$grey-text2: #2B303A;
// Base Font
$base-font-family: 'Proxima Nova', sans-serif;
//$secondary-font-family: 'Rubik', sans-serif;
$base-font-size: 14px;

// Font weights
$light: 300;
$regular: 400;
$medium: 500;

// Header Styles
$h1-fontsize: 64px;
$h2-fontsize: 48px;
$h3-fontsize: 30px;
$h4-fontsize: 24px;
$h5-fontsize: 20px;
$h6-fontsize: 18px;