/* This style is used to override input from react-telephone-input */
.react-tel-input{
  width: 100% !important;
}
[type='tel']{
  height: initial !important;
}
.react-tel-input .selected-flag {
  z-index: 13;
  position: relative;
  width: 50px !important;
  min-height: 40px !important;
  padding: 0 0 0 16px !important;
  border-radius: 3px 0 0 3px;
  border: none;
  background: none;
  padding-left: 16px !important;
  outline: none;
}
.react-tel-input input[type='tel'] {
  padding-left: 60px !important;
  box-shadow: none !important;
}

.react-tel-input .country-list {
  top: 50px !important;
}